In [1]:
import sqlite3
conn = sqlite3.connect('machine_learning.db')
current = conn.cursor()

In [8]:
# create table students
current.execute('''CREATE TABLE students
(id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT ,
Fname text,Country text,City text,Continent text,Course text
)''')

OperationalError: table students already exists

In [ ]:
 # create courses table
current.execute('''CREATE TABLE courses
(id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT ,
CourseName text)''')

In [ ]:
# insert data into students table
student_data = [
 (1, 'Nicholas Okello', 'Kenya', 'Nairobi', 'Africa', 'Advanced Python'),
(2, 'Tim Kabugi', 'Kenya', 'Nairobi', 'Africa', 'Advanced Python'),
(3, 'John Weru', 'Kenya', 'Nairobi', 'Africa', 'Advanced Python'),
(4, 'Darik Olal', 'Kenya', 'Nairobi', 'Africa', 'Advanced Python'),
(5, 'Esther Wambui', 'Kenya', 'Nairobi', 'Africa', 'Machine Learning'),
(6, 'George Ndede', 'USA', 'Dallas', 'N. America', 'Artificial Intelligence')
]
current.executemany("insert into students values(?,?,?,?,?,?);",student_data)

In [ ]:
# insert course data
course_data = [
 (1, 'Advanced Python'),
(2, 'Machine Learning'),
(3, 'Introduction Data Science'),
(4, 'Artificial Intelligence'),
(5, 'Introduction Python'),
(6, 'Database Management'),
(7, 'Intro to Linux Administration'),
(8, 'Intro to AWS Foundations'),
(9, 'Python System Administration')
]
current.executemany("insert into courses values(?,?);",course_data)

In [ ]:
# commit the data
conn.commit()

In [17]:
# print the two tables data
for row in current.execute('''
SELECT * from students as s
INNER join courses as c on s.Course = c.CourseName;'''):
 print(row)

(1, 'Nicholas Okello', 'Kenya', 'Nairobi', 'Africa', 'Advanced Python', 1, 'Advanced Python')
(2, 'Tim Kabugi', 'Kenya', 'Nairobi', 'Africa', 'Advanced Python', 1, 'Advanced Python')
(3, 'John Weru', 'Kenya', 'Nairobi', 'Africa', 'Advanced Python', 1, 'Advanced Python')
(4, 'Darik Olal', 'Kenya', 'Nairobi', 'Africa', 'Advanced Python', 1, 'Advanced Python')
(5, 'Esther Wambui', 'Kenya', 'Nairobi', 'Africa', 'Machine Learning', 2, 'Machine Learning')
(6, 'George Ndede', 'USA', 'Dallas', 'N. America', 'Artificial Intelligence', 4, 'Artificial Intelligence')

In [18]:
# add one more course
current.execute('''
insert into courses
                values(10,'Introduction to Statistics')
''')
conn.commit()

In [19]:
# update course no 8
current.execute('''
update courses set CourseName ='AWS Foundations' WHERE id =8;
''')
conn.commit()

In [20]:
# delete course no 6
current.execute('''
DELETE from courses WHERE id = 6;
''')
conn.commit()

In [21]:
# close the db connection
conn.close()