In [1]:
import sqlite3
conn = sqlite3.connect('machine_learning.db')
current = conn.cursor()

In [3]:
# create table students
current.execute('''CREATE TABLE students
(id real ,Fname text,Lname text,Country text,Continent text,Course text)''')

In [5]:
 # create courses table
current.execute('''CREATE TABLE courses
(id real ,CourseName text)''')

In [8]:
# insert data into students table
students = [
 (1, 'Nicholas' 'Okello', 'Kenya', 'Nairobi', 'Africa', 'Advanced Python'),
(3, 'Tim Kabugi', 'Kenya', 'Nairobi', 'Africa', 'Advanced Python'),
(3, 'John Weru', 'Kenya', 'Nairobi', 'Africa', 'Advanced Python'),
(4, 'Darik Olal', 'Kenya', 'Nairobi', 'Africa', 'Advanced Python'),
(5, 'Esther Wambui', 'Kenya', 'Nairobi', 'Africa', 'Machine Learning'),
(6, 'George Ndede', 'USA', 'Dallas', 'N. America', 'Artificial Intelligence'),
]
current.executemany("insert into student values(?,?,?.?,?,?,?);",students)

OperationalError: near ".": syntax error